/* Color Pallet
#FF0000 - RED

*/

@font-face {
  font-family: Cyberpunk;
  src: url("../_files/cyberpunk-regular.ttf");
}

@font-face {
	font-family: ibm-semi-narrow;
	src: url("../_files/3270SemiNarrow.ttf");
}

/***************************************
              Opening
***************************************/

#splashscreen {
	position: fixed;
	margin: 15%;
	background-color: #363537;
	z-index: 999999;
	min-width: 500px;
}

blockquote{
  font-size: 30px;
  border-left: 10px solid #ccc;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

/***************************************
               Global
***************************************/
a {
	text-decoration: none;
	color: #FF0000;
}

a:hover {
	color: #FF0000;
}

article {
	background-color: #363537;
	width: 60%;
	margin: 15px auto;
}

body {
	background-color: #000000;
	color: #FF0000;
}

#rockerboy {
	background: linear-gradient(to right, #000000 30%, #ff0000 100%);
}

#solo {
	background: linear-gradient(to right, #000000 30%, #77941e 100%);
}

#nomad {
	background: linear-gradient(to right, #000000 30%, #77941e 100%);
}

/* box model fix*/

* {
  box-sizing: border-box;
}

h1 {
	padding-bottom: 5px;
}

h2 {
	padding: 15px;
	font-family: 'Squada One', cursive;
	font-weight: bold;
	font-size: 30px;
	width: 100%;
	flex-basis: 100%;
}

#roleInfoHover h2 {
	padding: 15px;
	font-family: 'Squada One', cursive;
	font-weight: bold;
	font-size: 30px;
	color: #ff0000;
}

p {
	padding: 5px 0px;
}

#player {
	content: url(_files/_images/icon_speaker.png);
    height: 50px;
    width: 50px;
}

/**************************************
                 Header
**************************************/
.btn a {
	color: #FF0000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
}

.btn a:hover {
	filter: invert(100%);	
}

li {
	display: inline-block;
}

li a {
	padding: 0px 10px;
}

header {
	background: #000000;
	width: 100%;
	height: 30%;
}

ul {
	text-align: center;
}

.menuTop {
	background: #000000;
	color: #FF0000;
	padding: 5px;
	width: 100%;
	font-family: 'ibm-semi-narrow','IBM Plex Mono', monospace;
	font-size: 2.5em;
}

.siteLogo {
	color: #FF0000;
	display: inline;
	font-family: 'Cyberpunk', monospace;
	font-size: 4em;
	letter-spacing: -10px;
	vertical-align: text-bottom;
}

.siteLogo:hover {
	filter: invert(100%);	
}

.subLogo {
	color: #FF0000;
	font-family: Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	margin-top: -20px;
}

.subLogo:hover {
	filter: invert(100%);	
}

/**************************************
 		   Cyberpunk Outline
**************************************/

.box {
	background-color: #ff0000;
	color: #000000;
  	clip-path: 
    polygon(
    	0% 0px,                 /* top left */
	    20px 0%,                 /* top left */
	    calc(100% - 20px) 0%,    /* top right */
	    100% 20px,               /* top right */
	    100% calc(100% - 20px),  /* bottom right */
	    calc(100% - 0px) 100%,  /* bottom right */
	    20px 100%,               /* bottom left */
	    0 calc(100% - 20px)      /* bottom left */
    );
    display: flex;
    flex-wrap: wrap;
	padding: 5px;
	margin: auto;
	margin-top: 25px;
 	width: 60%;
}

#leftHalf {
	width: 30%;
	font-size: 1.5em;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'ibm-semi-narrow','IBM Plex Mono', monospace;
    font-weight: bold;
}

#rightHalf {
	display: inline-flex;
	flex-direction: column;
	width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.innerBox {
	background-color: #ffffff;
	margin: 15px;
	padding: 15px;
};

#charStats {
	background-color: #ff0000;
	color: #000000;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(9, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

#stats {
	grid-column-start: 1;
	grid-row: 2;
}

/**************************************
                  Body
**************************************/

button {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #363537;
	color: #FF0000;
	border: 2px solid #FF0000;
	padding: 5px 10px;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	font-size: .75em;
}

button:hover {
	background-color: #FF0000;
	color: #000000;
}

div ul li {
	display: block;
	margin-bottom: 2px;
	text-align: left;
}

.bold {
    display: inline;
    font-weight: bold;
}

#lore {
	display: block;
	text-align: justify;
}

#lifeyears li {
	display: list-item;
	list-style: decimal inside;
}

#roleInfoHover {
	height: 100%;
	font-family: 'ibm-semi-narrow','IBM Plex Mono', monospace;
	font-size: 1.5em;
	letter-spacing: 3px;
	line-height: 16pt;
}

#roleChoice p:hover {
	color:#ff0000;
}

/**************************************
                Footer
**************************************/

footer {
	background: #000000;
	color: #FF0000;
	display: block;
	width: 100%;
}
footer p {
	text-align: center;
	font-size: 1em;
	font-weight: 900;
	vertical-align: text-bottom;
	text-transform: uppercase;
	padding: 5px;
}

/**************************************
             Media Queries
**************************************/

/* Smartphones and Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

	.siteLogo {
		display: block;
		font-size: 3em;
		letter-spacing: 0px;
		text-align: center;
	}

	.subLogo {
		display: block;
		font-size: 1em;
		text-align: center;
	}
}

/*Snaps site to center using max width*/

@media only screen and (max-width: 767px) {
  .siteLogo {
		display: block;
		font-size: 3em;
		letter-spacing: 0px;
		text-align: center;
	}

	.subLogo {
		display: block;
		font-size: 1em;
		text-align: center;
	}

	h2 {
		font-size: 25px;
	}

	.menuTop {
		font-size: 1.5em;
	}

	#leftHalf{
		width: 100%;
		text-align: center;
	}

	#rightHalf{
		width: 100%;
	}

	#roleInfoHover {
		line-height: 18pt;
		letter-spacing: normal;
		text-align: justify;
		font-size: 12pt;
	}

	#roleInfoHover h2 {
		font-size: 20px;
		padding: 0;
	}
}

/* Stacks columns on top of each other at 768px screen width and lower*/
@media screen and (max-width: 768px) {
	.box {
		width: 90%;
	}

	footer {
		margin-top: 25px;
	}
}

/* Tablets */
@media only screen and (max-width: 1024px)  {

	#roleInfoHover {
		line-height: 18pt;
		letter-spacing: normal;
		text-align: justify;
		font-size: 12pt;
	}

	#leftHalf {
		font-size: 1em;
	}

	#roleInfoHover h2 {
		font-size: 18pt;
		padding: 5px;
	}
}

